* {
  font-family: "Inter", sans-serif;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  height: 8vh;
  margin-top: 10px;
}
.menu {
  display: flex;
}

.menu-icons {
  display: flex;
}

.logo {
  padding: 10px;
}
.itens-nav-bar {
  margin: 0 20px;
}

.menu-icons {
  padding: 10px;
  margin-right: 10px;
}
.ion-icon {
  font-size: 25px;
  margin-right: 10px;
}

.banner {
  background-color: #7550ff;
  height: 54vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.banner-title > h1 {
  font-size: 2.2em;
  color: white;
}

.banner-title > p {
  margin: 10px;
  color: rgb(226, 217, 250);
}
.img-banner-container {
  height: 54vh;
  overflow: hidden;
}

.btn-container {
  margin-top: 20px;
}
.browse-btn {
  color: white;
  background-color: #15ce92;
  border: none;
  font-size: 12px;
  font-weight: bold;
  height: 35px;
  width: 135px;
  border-radius: 4px;
}

.instructor-btn {
  background-color: white;
  border: none;
  font-size: 12px;
  font-weight: bold;
  height: 35px;
  width: 135px;
  border-radius: 4px;
}

.after-banner {
  display: flex;
  height: 12vh;
  justify-content: space-evenly;
}

.elements-after-banner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.after-banner-info > h4 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.after-banner-info > p {
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.after-banner-icon {
  background-color: rgb(245, 215, 132);
  color: rgb(255, 115, 0);
  opacity: 0.6;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-card-container {
  background-color: #f5f4f9;
  display: flex;
  justify-content: center;
  margin-bottom: 300px;
}

.main-container {
  width: 74vw;
  padding-top: 50px;
}

.cards {
  width: 220px;
}
.cards > h4 {
  margin: 0;
}
.img-cards {
  max-width: 220px;
}

.info-cards-first-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.info-cards-first-line > p {
  margin: 0;
  margin-right: 5px;
}

.icon-card {
  font-size: 20px;
}

.info-cards-second-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.stars {
  color: yellow;
}
